@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
*{
    margin: 0;
    padding: 0;
}
body{
    background: radial-gradient(circle at 12.3% 19.3%, rgb(85, 88, 218) 0%, rgb(95, 209, 249) 100.2%);
    font-family: "Caveat",sans-serif;
    font-size: 30px;
    text-align: center;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
table{
    margin-top: 2em;
    padding-left: 18em;
}

caption{
    padding-left: 13em;
}



.game-buttons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
}

#rock,#paper,#scissors{
    border: 2px solid black;
    border-radius: 8px;
    padding: 1em;
    font-weight: 800;
}

#rock,#paper{
margin-bottom: 0.3em;
}


footer {
    margin-top: 5em;
    font-size: 0.7em;
    flex-shrink: 0;
  }



.stats{
    display: flex;
    font-size:1em;
    flex-direction: column;
}

#reset{
    border: 1px solid black;
    width: 4em;
    margin-top: 1em;
    margin-left: 22.5em;
    border-radius: 8px;
}